.single-country-container {
  margin: 0 auto;
  width: 40vw;
  /* height: 50vh; */
  background-color: hsla(202, 63%, 91%, 0.904);
  border: 3px solid rgba(128, 128, 128, 0.24);
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.single-country-container h2 {
  margin: 0 auto;
  border-bottom: 1px solid rgb(75, 75, 75);
  font-size: 3rem;
  color: rgb(75, 75, 75);
}

.single-country-container h3 {
  color: rgb(124, 3, 124)
}

.single-country-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.single-country-container a {
  text-decoration: none;
  color: darkgreen;
  font-weight: 500;
}

.single-country-container li {
  border: 1px solid rgb(129, 129, 129);
  width: 20%;
  margin: .5rem auto;
}


#back-button {
  text-decoration: none;
  font-size: 1.2rem;
  color:  rgb(124, 3, 124);
  border: 1px solid  rgb(124, 3, 124);
  width: 30%;
  margin: 1rem auto;
  background-color: rgba(255, 0, 0, 0.061);
  font-weight: 400;
}
