.Countries-container {
  width: 25%;
  height: 100vh;
  overflow-y: scroll;
  margin: 0;
  background-color: rgba(47, 79, 79, 0.897);
  color: rgb(218, 216, 216);
}

.Countries-container a {
  text-decoration: none;
}

.Countries-container h3 {
  font-size: 2rem;

}

.single-country {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.single-country h4 {
  color: rgb(218, 216, 216);
}

.single-country p {
  margin: 0 1rem 0 3rem;
}