.App-home h2 {
  margin: 0;
}

.App-home {
  flex: 2;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}